<div class="k-container">
    <% for (const question of (data?.questions || [])) { %>
        <div onclick="onDetail('<%= question?._id %>')" class="k-card">
            <img src="<%= question?.image || '/images/img4.png' %>" alt="">
            <div class="k-title"><%= question?.name %></div>
            <div class="f-info"><%= question?.createdBy?.fullName %></div>
            <div class="k-info">
                <%- include(partialPath + '/datetime.partial.ejs', { datetime: question?.createdAt }) %>
            </div>
        </div>
    <% } %>
</div>

<script>
    function onDetail(id) {
        window.location.href = `/questions/${id}`;
    }
</script>