<style>
    .user-profile {
        margin: 0 auto;
        padding: 20px;
        max-width: 600px;
    }
    .user-profile h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }
    .user-profile .field {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 5px 0;
    }
    .user-profile .field label {
        flex: 0 0 150px;
        font-weight: bold;
    }
    .user-profile .field input,
    .user-profile .field select {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        transition: border-color 0.3s;
    }
    .user-profile .field input:focus,
    .user-profile .field select:focus {
        border-color: #007bff;
    }
</style>

<div class="user-profile">
    <h1>Thông tin cá nhân</h1>
    <form onsubmit="onSubmit(event)">
        <div class="field">
            <label for="usernameInput">Tên người dùng:</label>
            <input
                    type="text"
                    id="usernameInput"
                    value="<%= data.user?.username %>"
                    <%= data.user?.username ? 'disabled' : '' %>
            />
        </div>
        <div class="field">
            <label for="fullNameInput">Họ và tên:</label>
            <input name="fullName" type="text" id="fullNameInput" value="<%= data.user.fullName %>" />
        </div>
        <div class="field">
            <label for="emailInput">Email:</label>
            <input name="email" type="text" id="emailInput" value="<%= data.user.email || '(not provided)' %>" />
        </div>
        <div class="field">
            <label for="classesInput">Lớp:</label>
            <select name="classIds[]" id="classesInput" class="js-select2 form-control" multiple>
                <% if (Array.isArray(data.classOptions)) { %>
                    <% for (const _class of data.classOptions) { %>
                        <option
                                value="<%= _class._id %>"
                                <%= data.user?.classes?.includes(_class._id) ? 'selected' : '' %>
                        ><%= _class.code %></option>
                    <% } %>
                <% } else { %>
                    <option disabled>Không có lớp học nào</option>
                <% } %>
            </select>
        </div>
        <div class="my-3 d-flex justify-content-end">
            <button class="btn btn-primary" type="submit">Lưu</button>
        </div>
    </form>
</div>

<script>
    async function onSubmit(event) {
        event.preventDefault();

        const formData = new FormData(event.target);
        try {
            const res = await axios.post('/api/profile', formData);
            if (!res?.data?.success) {
                // show fail res?.data?.message
                return;
            }

            window.location.reload();
        }
        catch {

        }
    }
</script>