<div class="w-full h-full">
    <% if (data?.courses?.models?.length > 0) { %>
        <div style="padding-bottom: 20px;">
            <h2>Các khóa học</h2>
            <div class="k-container">
                <% for (const course of data?.courses?.models) { %>
                    <div onclick="onCourseDetail('<%= course?._id %>')" class="k-card">
                        <img src="<%= course?.image || '/images/course-default.jpg' %>">
                        <div class="k-title"><%= course?.name %></div>
                        <div class="f-info"><%= course?.createdBy?.fullName %></div>
                        <div class="k-info">
                            <%- include(partialPath + '/datetime.partial.ejs', { datetime: course?.createdAt }) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="mt-3">
                <%- include(partialPath + '/pagination.partial.ejs', {
                ...(data?.courses || {}),
                model: 'courses',
                }) %>
            </div>
        </div>
    <% } %>
    <% if (data?.lessons?.models?.length > 0) { %>
        <div style="padding-bottom: 20px;">
            <h2>Các bài học</h2>
            <div class="k-container">
                <% for (const lesson of data?.lessons?.models) { %>
                    <div onclick="onLessonDetail('<%= lesson?._id %>')" class="k-card">
                        <img src="<%= lesson?.image || '/images/lesson-default.png' %>">
                        <div class="k-title"><%= lesson?.name %></div>
                        <div class="k-info"><%= lesson?.createdBy?.fullName %></div>
                        <div class="k-info">
                            <%- include(partialPath + '/datetime.partial.ejs', { datetime: lesson?.createdAt }) %>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="mt-3">
                <%- include(partialPath + '/pagination.partial.ejs', {
                ...(data?.lessons || {}),
                model: 'lessons',
                }) %>
            </div>
        </div>
    <% } %>
    <% if (data?.questions?.models?.length > 0) { %>
        <div style="padding-bottom: 20px;">
            <h2>Các bài toán</h2>
            <div class="k-container">
                <% for (const question of data?.questions?.models) { %>
                    <div onclick="onQuestionDetail('<%= question?._id %>')" class="k-card">
                        <img src="<%= question?.image || '/images/question-default.png' %>">
                        <div class="k-title"><%= question?.name %></div>
                        <div class="f-info"><%= question?.createdBy?.fullName %></div>
                        <div class="k-info">
                            <%- include(partialPath + '/datetime.partial.ejs', { datetime: question?.createdAt }) %>
                        </div>
                    </div>F
                <% } %>
            </div>
            <div class="mt-3">
                <%- include(partialPath + '/pagination.partial.ejs', {
                ...(data?.questions || {}),
                model: 'questions',
                }) %>
            </div>
        </div>
    <% } %>
</div>

<script>
    function onCourseDetail(id) {
        window.location.href = `/courses/${id}`;
    }

    function onLessonDetail(id) {
        window.location.href = `/lessons/${id}`;
    }

    function onQuestionDetail(id) {
        window.location.href = `/questions/${id}`;
    }
</script>
