<form id="form" action="/users">
    <input name="code" type="text" value="<%= data?.user?.code %>" placeholder="code..." <%= data?.user?.code && 'disabled' %> />
    <input name="username" type="text" value="<%= data?.user?.username %>" placeholder="username..." />
    <input name="password" type="password" value="<%= data?.user?.password %>" placeholder="password..." />
    <input name="email" type="email" value="<%= data?.user?.email %>" placeholder="email" />
    <select name="type">
        <option value="Teacher" selected="<%= data?.user?.type === 'Teacher' %>">Giáo viên</option>
        <option value="Student" selected="<%= data?.user?.type === 'Student' %>">Học sinh</option>
    </select>
    <button type="submit">SUBMIT</button>
</form>

<input type="hidden" id="id" value="<%= data?.user?._id %>" />
<input type="hidden" id="method" value="<%= data?.user?._id ? 'PUT' : 'POST' %>" />

<script>
    const method = document.getElementById('method').value;
    const id = document.getElementById('id').value;
    document.getElementById('form').addEventListener('submit', async event => {
        event.preventDefault();

        const formData = new FormData(event.target);

        if (method === 'PUT') {
            await axios.put(`http://localhost:5500/users/${id}`, formData);
        }
        else {
            await axios.post('http://localhost:5500/users', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                },
            });
        }

        window.location.href = `/users`;
    })
</script>