<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<div class="w-full h-full">
    <div class="row">
        <div class="h-100 col-8">
            <div id="workspace" style="height: 400px; width: 100%;"></div>
        </div>
        <div class="col-4 d-flex flex-column gap-3">
            <div>
                <button class="btn btn-sm btn-primary" onclick="toggleBlocksGlobal()">LẤY/BỎ KHỐI MẶC ĐỊNH</button>
            </div>
            <form onsubmit="onSubmit(event)">
                <div>
                    <input name="code" type="text" value="<%= data?.answer?.code %>"/>
                </div>
                <div>
                    <input name="name" type="text" value="<%= data?.answer?.name %>"/>
                </div>
                <div>
                    <input name="score" type="text" min="0" max="10" value="<%= data?.answer?.score || '10' %>"/>
                </div>
                <div>
                    <input name="note" type="text" value="<%= data?.answer?.note %>"/>
                </div>
                <div>
                    <button type="submit">SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
    <%= JSON.stringify(data) %>
</div>

<input name="id" type="hidden" value="<%= data?.answer?._id %>"/>
<input name="questionId" type="hidden" value="<%= data?.questionId %>"/>

<script>
    let isContainBlocksGlobal = false;
    let workspace;
    let toolbox;
    let blocksLocal;
    let blocksGlobal;
    let blocks;

    (async () => {
        const questionId = document.querySelector('input[name="questionId"]')?.value;
        const id = document.querySelector('input[name="id"]')?.value;

        await loadBlocks();

        workspace = K.initWorkspace({
            node: document.getElementById('workspace'),
        });

        loadToolbox();

        await (async () => {
            if (questionId && id) {
                try {
                    const answerRes = await axios.get(`/api/questions/${questionId}/answers/${id}`);
                    if (!answerRes?.data?.result?.answer?.content) {
                        return;
                    }

                    Blockly.serialization.workspaces.load(answerRes?.data?.result?.answer?.content, workspace);
                } catch (error) {
                    handleApiError(error);
                }
            }
        })();
    })();

    async function toggleBlocksGlobal() {
        isContainBlocksGlobal = !isContainBlocksGlobal;
        loadToolbox();
    }

    async function loadToolbox(props) {
        const {hasLoadBlocks} = {
            hasLoadBlocks: false,
            ...props,
        };

        if (hasLoadBlocks) {
            await loadBlocks();
        }

        toolbox = {
            kind: 'flyoutToolbox',
            contents: (isContainBlocksGlobal ? blocks : blocksLocal).map(block => {
                return {
                    kind: 'block',
                    type: block?.type,
                };
            }),
        };
        workspace?.updateToolbox(toolbox);
    }

    async function loadBlocks() {
        const innerBlocksLocal = await (async () => {
            const questionId = document.querySelector('input[name="questionId"]')?.value;
            if (!questionId) {
                return [];
            }

            try {
                const blocksRes = await axios.get('/api/blocks', {
                    params: {
                        questionId: questionId,
                    },
                });
                return blocksRes?.data?.result?.blocks || [];
            } catch (error) {
                handleApiError(error);
                return [];
            }
        })();

        const innerBlocksGlobal = await (async () => {
            try {
                const blocksRes = await axios.get('/api/blocks', {
                    params: {
                        questionId: null,
                    },
                });
                return blocksRes?.data?.result?.blocks || [];
            } catch (error) {
                handleApiError(error);
                return [];
            }
        })();

        blocksLocal = innerBlocksLocal;
        blocksGlobal = innerBlocksGlobal;
        blocks = [...blocksLocal, ...blocksGlobal];

        for (const block of blocks) {
            Blockly.Blocks[block.type] = {
                init: function () {
                    this.jsonInit(block);
                },
            };
        }
    }

    async function onSubmit(event) {
        event.preventDefault();

        const id = document.querySelector('input[name="id"]')?.value;
        const questionId = document.querySelector('input[name="questionId"]')?.value;
        const content = Blockly.serialization.workspaces.save?.(workspace);

        const formData = new FormData(event.target);
        K.obj2FormData(formData, content, 'content');

        try {
            const res = await (async () => {
                if (id) {
                    return await axios.put(`/api/questions/${questionId}/answers/${id}`, formData);
                } else {
                    return await axios.post(`/api/questions/${questionId}/answers`, formData);
                }
            })();

            if (!res?.data?.result?.success) {
                throw new Error('Failed to submit');
            }

            window.location.href = `/questions/${questionId}/answers`;
        } catch (error) {
            handleApiError(error);
        }
    }

    function handleApiError(error) {
        console.error('API Error:', error);
        Toastify({
            text: 'An error occurred. Please try again later.',
            duration: 3000,
            gravity: 'top',
            position: 'right',
            backgroundColor: '#ff6347',
        }).showToast();
    }

    function obj2FormData(formData, obj, prefix) {
        for (let key in obj) {
            if (obj.hasOwnProperty(key)) {
                let propName = prefix ? `${prefix}[${key}]` : key;
                if (typeof obj[key] === 'object' && !(obj[key] instanceof File)) {
                    obj2FormData(formData, obj[key], propName);
                } else {
                    formData.append(propName, obj[key]);
                }
            }
        }
    }
</script>