<style>
    .btn:hover {
        background-color:aquamarine; 
        box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
      }
  </style>
  <div style="justify-content:space-between; display:flex">
    <h1>Quản lí lớp học</h1>
    <button
      style="background-color:#008080; border:none; color: white; text-align: center; font-size: 16px; cursor: pointer; border-radius: 8px; transition: background-color 0.3s, box-shadow 0.3s; height: 40px;"
      data-bs-toggle="modal" data-bs-target="#accountModal" onClick="upsert('<%= data?.newId %>')">Tạo lớp học
    </button>
  </div>
  <table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Mã lớp</th>
            <th>Tên lớp</th>
            <th>Giáo viên</th>
            <th>Số học sinh</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <% for (const _class of (data?.classes || [])) { %>
            <tr>
                <td><%= _class?.index %></td>
                <td><%= _class?.code %></td>
                <td><%= _class?.name %></td>
                <td><%= _class?.teacher %></td>
                <td><%= _class?.studentsCount %></td>
                <td class="align-middle">
                    <button class="btn btn-secondary btn-sm me-1" onClick="upsert('<%= _class?._id %>')"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" onClick="del('<%= _class?._id %>')"><i class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        <% } %>
    </tbody>
  </table>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  
  <script>
      function upsert(id) {
          window.location.href = `/classes/${id}`;
      }
    
      async function del(id) {
          try {
              await axios.delete(`/classes/${id}`);
              Toastify({
                  text: 'Xóa lớp học thành công!',
                  duration: 3000,
                  gravity: 'top',
                  position: 'right',
                  backgroundColor: '#4CAF50',
              }).showToast();
              location.reload();
          } catch (error) {
              console.error('Delete Error:', error);
              Toastify({
                  text: 'Đã xảy ra lỗi khi xóa lớp học. Vui lòng thử lại sau.',
                  duration: 3000,
                  gravity: 'top',
                  position: 'right',
                  backgroundColor: '#ff6347',
              }).showToast();
          }
      }
    </script>  