<div class="h-full w-full">
  <h1 style="margin-bottom: 20px; color: #333;">Chi tiết lớp học</h1>

  <form id="form" action="/classes">
      <div class="mb-3">
          <label for="code" class="form-label">Mã lớp</label>
          <input
                  id="code"
                  name="code"
                  type="text"
                  value="<%= data?.class?.code %>"
                  placeholder="Nhập mã lớp..."
                  <%= data?.class?.code && 'disabled' %>
                  class="form-control"
          />
      </div>
      <div class="mb-3">
          <label for="name" class="form-label">Tên lớp</label>
          <input
                  id="name"
                  name="name"
                  type="text"
                  value="<%= data?.class?.name %>"
                  placeholder="Nhập tên lớp..."
                  class="form-control"
          />
      </div>
      <div class="mb-3">
          <label for="users" class="form-label">Danh sách học sinh</label>
          <select name="users[]" id="users" class="form-select js-select2" multiple style="width: 100%;">
              <% for (const user of (data?.users || [])) { %>
                  <option value="<%= user?._id %>" <%= data?.class?.users?.includes(user?._id) ? 'selected' : null %>><%= user?.code %></option>
              <% } %>
          </select>
      </div>
      <div class="mb-3">
          <label for="note" class="form-label">Ghi chú</label>
          <textarea class="form-control
            id="note"
            name="note"
            type="text"
            value="<%= data?.class?.note %>"
            placeholder="Nhập ghi chú...">
          </textarea>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
  </form>
</div>

<input type="hidden" id="id" value="<%= data?.class?._id %>" />
<input type="hidden" id="method" value="<%= data?.class?._id ? 'PUT' : 'POST' %>" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
const method = document.getElementById('method').value;
const id = document.getElementById('id').value;

document.getElementById('form').addEventListener('submit', async event => {
  event.preventDefault();

  const formData = new FormData(event.target);

  try {
    if (method === 'PUT') {
      await axios.put(`http://localhost:5500/classes/${id}`, formData);
    } else {
      await axios.post('http://localhost:5500/classes', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
      });
    }

    Toastify({
      text: 'Lưu thành công!',
      duration: 3000,
      gravity: 'top',
      position: 'right',
      backgroundColor: '#4CAF50',
    }).showToast();

    window.location.href = `/classes`;
  } catch (error) {
    console.error('Save Error:', error);
    Toastify({
      text: 'Đã xảy ra lỗi khi lưu. Vui lòng thử lại sau.',
      duration: 3000,
      gravity: 'top',
      position: 'right',
      backgroundColor: '#ff6347',
    }).showToast();
  }
});
</script>