<style>
    .btn:hover {
        background-color: aquamarine;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
</style>
<div class="h-100 w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí khóa học</h1>
        <button class="btn btn-primary"
                style="background-color:#008080; border:none; color: white; padding: 5px 10px; text-align: center; font-size: 18px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition: background-color 0.3s, box-shadow 0.3s;"
                data-bs-toggle="modal" data-bs-target="#accountModal" onClick="upsert('<%= data?.newId %>')">Tạo khóa
            học
        </button>
    </div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="active-courses-tab" data-bs-toggle="tab"
                    data-bs-target="#active-courses" type="button" role="tab" aria-controls="active-courses"
                    aria-selected="true">Khóa học đang mở
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="completed-courses-tab" data-bs-toggle="tab" data-bs-target="#completed-courses"
                    type="button" role="tab" aria-controls="completed-courses" aria-selected="false">Khóa học đã kết
                thúc
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="active-courses" role="tabpanel" aria-labelledby="active-courses-tab">
            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã khóa học</th>
                    <th scope="col">Tên khóa học</th>
                    <th scope="col">Giáo viên</th>
                    <th scope="col">Thời gian tạo</th>
                    <th scope="col">Thời gian kết thúc</th>
                    <th scope="col">Số người đã tham gia</th>
                    <th scope="col">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <% for (const _class of (data?.courses || [])) { %>
                    <tr>
                        <td>1</td>
                        <td><%= _class?.code %></td>
                        <td><%= _class?.name %></td>
                        <td><%= _class?.teacher %></td>
                        <td><%= _class?.createdAt %></td>
                        <td><%= _class?.endAt %></td>
                        <td><%= _class?.participants %></td>
                        <td class="align-middle">
                            <button class="btn btn-secondary btn-sm me-1" onClick="upsert('<%= _class._id %>')"><i
                                        class="fas fa-edit"></i></button>
                            <button class="btn btn-danger btn-sm" onClick="del('<%= _class._id %>')"><i
                                        class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination">
        <li class="page-item <%= data.currentPage === 1 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= data.currentPage - 1 %>">Previous</a>
        </li>
        <% for(let i = 1; i <= data.totalPages; i++) { %>
            <li class="page-item <%= data.currentPage === i ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
        <% } %>
        <li class="page-item <%= data.currentPage === data.totalPages ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= data.currentPage + 1 %>">Next</a>
        </li>
    </ul>
</nav>

<script>
  function upsert(id) {
    window.location.href = `/courses/${id}`;
  }

  async function del(id) {
    await axios.delete(`http://localhost:5500/courses/${id}`);
    location.reload();
  }
</script>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>