<style>
    .btn:hover {
        background-color: aquamarine;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
    table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<div class="h-100 w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí khóa học</h1>
        <button
            style="background-color:#008080; border:none; color: white; text-align: center; font-size: 16px; cursor: pointer; border-radius: 8px; transition: background-color 0.3s, box-shadow 0.3s;
            height:40px"
            data-bs-toggle="modal" data-bs-target="#accountModal" onClick="upsert('<%= data?.newId %>')">Tạo khóa học
        </button>
    </div>
    <div>
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã khóa học</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Giáo viên</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col" style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% let index = 1; %>
            <% for (const course of (data?.courses || [])) { %>
                <tr onClick="upsert('<%= course._id %>')">
                    <th scope="row"><%= course?.index %></th>
                    <td><%= course?.code %></td>
                    <td><%= course?.name %></td>
                    <td><%= course?.createdBy?.fullName %></td>
                    <td><%= course.createdAt.getFullYear() + '-' + String(course.createdAt.getMonth() + 1).padStart(2, '0') + '-' + String(course.createdAt.getDate()).padStart(2, '0') + ' ' + String(course.createdAt.getHours()).padStart(2, '0') + ':' + String(course.createdAt.getMinutes()).padStart(2, '0') %></td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-sm" onClick="del('<%= course._id %>')"><i
                                    class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item <%= data.currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= data.currentPage - 1 %>">Previous</a>
                </li>
                <% for(let i = 1; i <= data.totalPages; i++) { %>
                    <li class="page-item <%= data.currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <li class="page-item <%= data.currentPage === data.totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= data.currentPage + 1 %>">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            An error occurred while deleting the course.
        </div>
    </div>
</div>

<script>
    function upsert(id) {
      window.location.href = `/courses/${id}`;
    }
  
    async function del(id) {
      try {
          await axios.delete(`/courses/${id}`);
          location.reload();
      } catch (error) {
          console.error('Delete Error:', error);
          const errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
          errorToast.show();
      }
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>