<div class="w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí khóa học</h1>
        <button class="k-btn-create btn" onClick="upsert('<%= data?.newId %>')">Tạo khóa học</button>
    </div>
    <div class="my-2">
        <form method="GET" class="row ">
            <div class="col-md-4">
                <input name="code" type="text" class="form-control" placeholder="Mã khóa học..."
                       value="<%= data?.filters?.code %>"/>
            </div>
            <div class="col-md-4">
                <input name="name" type="text" class="form-control" placeholder="Tên khóa học..."
                       value="<%= data?.filters?.name %>"/>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>
        </form>
    </div>
    <div>
        <table class="k-table k-table-pointer table table-hover table-striped table-bordered my-2">
            <thead>
            <tr>
                <th style="width: 80px;">STT</th>
                <th>Mã khóa học</th>
                <th>Tên khóa học</th>
                <th>Giáo viên</th>
                <th style="width: 160px;">Thời gian tạo</th>
                <th style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% for (const course of data?.courses?.models) { %>
                <tr onClick="upsert('<%= course._id %>')">
                    <td style="text-align: right;"><%= course?.index %></td>
                    <td><%= course?.code %></td>
                    <td><%= course?.name %></td>
                    <td><%= course?.createdBy?.fullName %></td>
                    <td style="text-align: center;">
                        <%- include(partialPath + '/datetime.partial.ejs', { datetime: course?.createdAt, }) %>
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-sm" onClick="del('<%= course._id %>')"><i
                                    class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <div>
            <%- include(partialPath + '/pagination.partial.ejs', { ...data?.courses, model: 'courses', }) %>
        </div>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            An error occurred while deleting the course.
        </div>
    </div>
</div>

<script>
    function upsert(id) {
        window.location.href = `/courses/${id}`;
    }

    async function del(id) {
        try {
            await axios.delete(`/courses/${id}`);
            location.reload();
        } catch (error) {
            console.error('Delete Error:', error);
            const errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
            errorToast.show();
        }
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>