<div class="w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí bài học</h1>
        <button class="k-btn-create btn" onclick="upsert('<%= data?.newId %>')">Tạo bài học</button>
    </div>
    <div class="my-2">
        <form method="GET" class="row ">
            <div class="col-md-4">
                <input name="code" type="text" class="form-control" placeholder="Mã bài học..." value="<%= data?.filters?.code %>" />
            </div>
            <div class="col-md-4">
                <input name="name" type="text" class="form-control" placeholder="Tên bài học..." value="<%= data?.filters?.name %>" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>
        </form>
    </div>
    <div>
        <table class="k-table k-table-pointer table table-hover table-striped table-bordered my-2">
            <thead>
            <tr>
                <th style="width: 80px;">STT</th>
                <th>Mã</th>
                <th>Tên</th>
                <th>Khóa học</th>
                <th>Giáo viên</th>
                <th style="width: 160px;">Thời gian tạo</th>
                <th style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% for (const lesson of data?.lessons?.models) { %>
                <tr onclick="upsert('<%= lesson._id %>')">
                    <td style="text-align: right;"><%= lesson.index %></td>
                    <td><%= lesson.code %></td>
                    <td><%= lesson.name %></td>
                    <td><%= lesson?.course?.name %></td>
                    <td><%= lesson.createdBy?.fullName %></td>
                    <td style="text-align: center;">
                        <%- include(partialPath + '/datetime.partial.ejs', { datetime: lesson?.createdAt, }) %>
                    </td>
                    <td class="align-middle" onClick="(e => e.stopPropagation())(event)">
                        <button class="btn btn-danger btn-sm" onclick="deleteLesson('<%= lesson._id %>')"><i
                                    class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <div>
            <%- include(partialPath + '/pagination.partial.ejs', { ...data?.lessons, model: 'lessons', }) %>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function upsert(id) {
        window.location.href = `/lessons/${id}`;
    }

    async function deleteLesson(id) {
        try {
            await axios.delete(`/lessons/${id}`);
            location.reload();
        } catch (error) {
            console.error('Error deleting lesson:', error);
        }
    }
</script>