<style>
    table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<div class="w-full">
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
        <h1 style="margin: 0;color: #333;">Chi tiết bài học</h1>
        <div style="text-align: right;">
            <% if (data?.lesson?._id) { %>
                <button class="btn btn-primary" onclick="onCreateQuestion('<%= data?.lesson?._id %>', '<%= data?.newId %>')">Tạo bài toán
                </button>
            <% } %>
            <button class="btn btn-primary" onclick="onCourseDetail('<%= data?.lesson?.course %>')">Khóa học</button>
        </div>
    </div>
    <form onsubmit="onSubmit(event)">
        <% if (data?.lesson?._id) { %>
            <div class="mb-3">
                <label for="code" class="form-label" style="display: block; margin-bottom: 5px; color: #333;">Mã bài
                    học</label>
                <input
                        id="code"
                        name="code"
                        type="text"
                        value="<%= data?.lesson?.code %>"
                        placeholder="Mã bài học..."
                        <%= data?.lesson?.code && 'disabled' %>
                        class="form-control"
                />
            </div>
        <% } %>
        <div class="mb-3">
            <label for="name" class="form-label" style="display: block; margin-bottom: 5px; color: #333;">Tên bài
                học</label>
            <input
                    id="name"
                    name="name"
                    type="text"
                    value="<%= data?.lesson?.name %>"
                    placeholder="Tên bài học..."
                    class="form-control"
            />
        </div>
        <div class="mb-3">
            <label for="note" class="form-label" style="display: block; margin-bottom: 5px; color: #333;">Ghi
                chú</label>
            <textarea id="note"
                      name="note"
                      type="text"
                      value="<%= data?.lesson?.note %>"
                      placeholder="Ghi chú..."
                      class="form-control"
            ></textarea>
        </div>
        <div class="mb-3">
            <label for="courseId" class="form-label" style="display: block; margin-bottom: 5px; color: #333;">Mã khóa
                học</label>
            <select
                    id="courseId"
                    name="courseId"
                    class="form-select"
            >
                <% for (const course of (data?.courses || [])) { %>
                    <option
                            value="<%= course?._id %>"
                            <%= String(data?.lesson?.course) === String(course?._id) ? 'selected' : '' %>
                    ><%= course?.code %></option>
                <% } %>
            </select>
        </div>
        <div style="display: flex; justify-content: flex-end;">
            <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
    </form>

    <% if (data?.lesson?._id) { %>
        <h2 style="margin-top: 40px; margin-bottom: 10px; color: #333;">Danh sách bài toán</h2>
        <table class="k-table k-table-pointer table table-hover table-striped table-bordered my-2">
            <thead>
            <tr>
                <th style="width: 80px;">STT</th>
                <th>Mã bài toán</th>
                <th>Tên bài toán</th>
                <th style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% for (const question of data?.questions?.models) { %>
                <tr onClick="editQuestion('<%= question._id %>')">
                    <td style="text-align: right;"><%= question?.index %></td>
                    <td><%= question?.code %></td>
                    <td><%= question?.name %></td>
                    <td>
                        <button class="btn btn-danger btn-sm" onClick="deleteQuestion('<%= question._id %>')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</div>

<input name="id" type="hidden" value="<%= data?.lesson?._id %>"/>

<script>
    async function onSubmit(event) {
        event.preventDefault();

        const id = document.querySelector('input[name="id"]')?.value;

        const formData = new FormData(event.target);

        try {
            const response = await (async () => {
                if (id) {
                    return await axios.put(`/lessons/${id}`, formData);
                } else {
                    return await axios.post('/lessons', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        },
                    });
                }
            })();

            window.location.href = `/lessons`;
        } catch (error) {
            console.error('There was an error adding the question:', error);
        }
    }

    function editQuestion(questionId) {
        window.location.href = `/questions/${questionId}`;
    }

    async function deleteQuestion(questionId) {
        try {
            await axios.delete(`/questions/${questionId}`);
        } catch (error) {
            console.error('Error deleting question', error);
        }
    }

    function onCourseDetail(id) {
        window.location.href = `/courses/${id}`;
    }

    function onCreateQuestion(id, newId) {
        window.location.href = `/questions/${newId}?lessonId=${id}`;
    }
</script>