<div class="w-full h-full">
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
        <h1 style="margin: 0;color: #333;">Quản lí bài toán</h1>
        <div style="display: flex; align-items: center; border: 2px dashed green; border-radius: 8px; background-color: #cdfdc5; padding: 5px 0px;">
            <p style="margin: 0 10px; font-size: 16px; font-weight: bold; color: #555;">Mức độ:</p>
            <p style="margin: 0 10px; font-size: 20px; color: #4be14d;">Dễ</p>
        </div>
    </div>

    <div class="w-full">
        <div class="mb-3">
            <label for="code-input" class="form-label">Mã:</label>
            <input name="code" id="code-input" class="form-control" type="text" value="<%= data?.question?.code %>"
                   placeholder="Mã..."/>
        </div>
        <div class="mb-3">
            <label for="name-input" class="form-label">Tên:</label>
            <input name="name" id="name-input" class="form-control" type="text" value="<%= data?.question?.name %>"
                   placeholder="Tên..."/>
        </div>
        <div class="mb-3">
            <label for="lesson-select" class="form-label">Bài học:</label>
            <select name="lessonId" id="lesson-select" class="form-control">
                <% for (const lesson of data?.lessons || []) { %>
                    <option value="<%= lesson?._id %>" <%= data?.question?.lesson?.toString?.() === lesson?._id?.toString?.() ? 'selected' : '' %>><%= lesson?.code %></option>
                <% } %>
            </select>
        </div>
        <div class="mb-3">
            <label for="note-input" class="form-label">Ghi chú:</label>
            <input name="note" id="note-input" class="form-control" type="text" value="<%= data?.question?.note %>"
                   placeholder="Ghi chú..."/>
        </div>
    </div>

    <div class="w-full">
        <div class="w-full d-flex gap-3" style="height: max-content;">
            <div style="width: 400px; height: max-content;">
                <h3>Khối mặc định</h3>
                <div class="w-full" style="height: 400px;">
                    <div id="blockly-workspace-default" style="height: 100%; width: 100%;"></div>
                </div>
                <h3>Khối sử dụng</h3>
                <div class="w-full" style="height: 400px;">
                    <div id="blockly-workspace-toolbox" style="height: 100%; width: 100%;"></div>
                </div>
            </div>

            <div>
                <div class="mb-1">
                    <button class="btn btn-sm btn-primary" onclick="onSubmit()">LƯU</button>
                </div>
                <div class="mb-1">
                    <button class="btn btn-sm btn-primary" onclick="toggleBlocksGlobal()">LẤY/BỎ KHỐI MẶC ĐỊNH</button>
                </div>
                <% if (data?.question?._id) { %>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#config-block-modal">
                            CẤU HÌNH KHỐI
                        </button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onConfigAnswers()">
                            CẤU HÌNH ĐÁP ÁN
                        </button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onAssign()">
                            GIAO BÀI TOÁN
                        </button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onMark()">
                            CHẤM ĐIỂM
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<% if (data?.question?._id) { %>
    <div class="modal fade" id="config-block-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cấu hình khối</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#import-block-modal">IMPORT
                    </button>
                    <button class="btn btn-primary" onClick="onExportBlock()">EXPORT</button>
                    <table class="table table-striped mt-3">
                        <thead>
                        <tr>
                            <th>Tên</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (const block of (data?.blocks || [])) { %>
                            <tr>
                                <td><%= block?.name %></td>
                                <td>
                                    <button class="btn btn-secondary" onClick="onUpsertBlock('<%= block?._id %>')"><i
                                                class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" onClick="onDelBlock('<%= block?._id %>')"><i
                                                class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="import-block-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form onsubmit="onImportBlock(event)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Import khối</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="block">Chọn khối</label>
                            <input id="block" name="block" type="file"/>
                        </div>
                        <div>
                            <label for="images">Chọn hình</label>
                            <input id="images" name="images" type="file" multiple/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>

<input name="id" type="hidden" value="<%= data?.question?._id %>"/>

<script src="/scripts/managers/question-detail.script.js"></script>
<script>

</script>