<div class="w-full h-full">
    <h1>Quản lí bài toán</h1>

    <div class="w-full">
        <div>
            <input name="code" type="text" value="<%= data?.question?.code %>" placeholder="Mã..."/>
        </div>
        <div>
            <input name="name" type="text" value="<%= data?.question?.name %>" placeholder="Tên..."/>
        </div>
        <div>
            <select name="lessonId">
                <% for (const lesson of data?.lessons || []) { %>
                    <option value="<%= lesson?._id %>"><%= lesson?.code %></option>
                <% } %>
            </select>
        </div>
        <div>
            <input name="note" type="text" value="<%= data?.question?.note %>" placeholder="Ghi chú..."/>
        </div>
    </div>

    <div class="w-full">
        <div class="w-full d-flex gap-3" style="height: max-content;">
            <div style="width: 400px; height: max-content;">
                <h3>Khối mặc định</h3>
                <div class="w-full" style="height: 400px;">
                    <div id="blockly-workspace-default" style="height: 100%; width: 100%;"></div>
                </div>
                <h3>Khối sử dụng</h3>
                <div class="w-full" style="height: 400px;">
                    <div id="blockly-workspace-toolbox" style="height: 100%; width: 100%;"></div>
                </div>
            </div>

            <div>
                <div>
                    <button class="btn btn-sm btn-primary" onclick="toggleBlocksGlobal()">LẤY/BỎ KHỐI MẶC ĐỊNH</button>
                </div>
                <% if (data?.question?._id) { %>
                    <div>
                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#config-block-modal">
                            CẤU HÌNH KHỐI
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" onclick="onConfigAnswers()">
                            CẤU HÌNH ĐÁP ÁN
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" onclick="onAssign()">
                            GIAO BÀI TOÁN
                        </button>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary" onclick="onMark()">
                            CHẤM ĐIỂM
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div>
        <button onclick="submit()">SUBMIT</button>
    </div>
</div>

<% if (data?.question?._id) { %>
    <div class="modal fade" id="config-block-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cấu hình khối</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#import-block-modal">IMPORT
                    </button>
                    <button class="btn btn-primary" onClick="onExportBlock()">EXPORT</button>
                    <table class="table table-striped mt-3">
                        <thead>
                        <tr>
                            <th>Tên</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (const block of (data?.blocks || [])) { %>
                            <tr>
                                <td><%= block?.name %></td>
                                <td>
                                    <button class="btn btn-secondary" onClick="onUpsertBlock('<%= block?._id %>')"><i
                                                class="fas fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger" onClick="onDelBlock('<%= block?._id %>')"><i
                                                class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="import-block-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form onsubmit="onImportBlock(event)">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Import khối</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <label for="block">Chọn khối</label>
                            <input id="block" name="block" type="file" />
                        </div>
                        <div>
                            <label for="images">Chọn hình</label>
                            <input id="images" name="images" type="file" multiple />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<% } %>

<input name="id" type="hidden" value="<%= data?.question?._id %>"/>

<script src="/scripts/managers/question-detail.script.js"></script>
<script>

</script>