<div class="w-full d-flex flex-wrap gap-3">
    <div class="flex-fill" style="width: 45%; min-width: 400px;">
        <h3>Học sinh</h3>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Mã tài khoản</th>
                <th scope="col">Email</th>
                <th style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% for (const student of data?.studentNotAssign) { %>
                <tr class="k-cursor-pointer" onClick="onDetail('<%= student.id %>')">
                    <td><%= student.code %></td>
                    <td><%= student.email %></td>
                    <td>
                        <button class="btn btn-primary btn-sm me-1" onClick="onAssign(['<%= student.id %>'])"><i
                                    class="fas fa-plus"></i></button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="flex-fill" style="width: 45%; min-width: 400px;">
        <h3>Học sinh đã tham gia</h3>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Mã tài khoản</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            <% for (const student of data?.studentAssign) { %>
                <tr class="k-cursor-pointer">
                    <td><%= student.code %></td>
                    <td><%= student.email %></td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>

<input name="id" type="hidden" value="<%= data?.id %>" />

<script>
  async function onAssign(studentIds) {
    try {
      const id = document.querySelector('input[name="id"]')?.value;

      const body = {
        studentIds: studentIds,
      };
      const formData = new FormData();
      K.obj2FormData(formData, body);

      const res = await axios.post(`/api/questions/${id}/assign`, formData);

      if (!res?.data?.success) {
        return;
      }

      window.location.reload();
    }
    catch {

    }
  }
  function onDetail(studentId) {
    window.location.href = `/users/${studentId}`;
  }
</script>