<style>
    table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<div class="h-100 w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí bài toán</h1>
        <button class="k-btn-create" onClick="upsert('<%= data?.newId %>')">Tạo bài toán</button>
    </div>
    <div>
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th>STT</th>
                <th>Mã bài toán</th>
                <th scope="col" style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% let index = 1; %>
            <% for (const question of (data?.questions || [])) { %>
                <tr onClick="upsert('<%= question?._id %>')">
                    <th scope="row"><%= index++ %></th>
                    <td><%= question?.code %></td>
                    <td >
                        <button class="btn btn-danger btn-sm" onClick="deleteLesson('<%= question?._id %>')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item <%= data.currentPage === 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= data.currentPage - 1 %>">Previous</a>
                </li>
                <% for(let i = 1; i <= data.totalPages; i++) { %>
                    <li class="page-item <%= data.currentPage === i ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                    </li>
                <% } %>
                <li class="page-item <%= data.currentPage === data.totalPages ? 'disabled' : '' %>">
                    <a class="page-link" href="?page=<%= data.currentPage + 1 %>">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<script>
  function upsert(id) {
    window.location.href = `/questions/${id}`;
  }
  async function del(id) {
    await axios.delete(`/questions/${id}`);
    location.reload()
  }
</script>