<div class="w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí bài toán</h1>
        <button class="k-btn-create btn" onClick="upsert('<%= data?.newId %>')">Tạo bài toán</button>
    </div>
    <div class="my-2">
        <form method="GET" class="row ">
            <div class="col-md-4">
                <input name="code" type="text" class="form-control" placeholder="Mã bài toán..." value="<%= data?.filters?.code %>" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>
        </form>
    </div>
    <div>
        <table class="k-table k-table-pointer table table-hover table-striped table-bordered my-2">
            <thead>
            <tr>
                <th style="width: 80px; text-align: center;">STT</th>
                <th>Mã bài toán</th>
                <th>Người tạo</th>
                <th style="width: 160px;">Ngày tạo</th>
                <th style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% for (const question of data?.questions?.models) { %>
                <tr onClick="upsert('<%= question?._id %>')">
                    <td style="text-align: right;"><%= question.index %></td>
                    <td><%= question?.code %></td>
                    <td><%= question?.createdBy?.fullName %></td>
                    <td style="text-align: center;">
                        <%- include(partialPath + '/datetime.partial.ejs', { datetime: question?.createdAt, }) %>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" onClick="deleteLesson('<%= question?._id %>')">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <div>
            <%- include(partialPath + '/pagination.partial.ejs', { ...data?.questions, model: 'questions', }) %>
        </div>
    </div>
</div>

<script>
    function upsert(id) {
        window.location.href = `/questions/${id}`;
    }

    async function del(id) {
        await axios.delete(`/questions/${id}`);
        location.reload()
    }
</script>