<div class="w-full">
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
        <h1 style="margin: 0;color: #333;">Chi tiết bài toán</h1>
        <div style="text-align: right;">
            <button class="k-btn-create btn" onclick="onLessonDetail('<%= data?.question?.lesson %>')">Bài học</button>
        </div>
    </div>
    <div class="w-full">
        <% if (data?.question?._id) { %>
            <div class="mb-3">
                <label for="code" class="form-label">Mã bài toán</label>
                <input
                        name="code"
                        id="code"
                        class="form-control"
                        type="text"
                        value="<%= data?.question?.code %>"
                        placeholder="Mã..."
                        disabled
                />
            </div>
        <% } %>
        <div class="mb-3">
            <label for="name" class="form-label">Tên bài toán</label>
            <input
                    name="name"
                    id="name"
                    class="form-control"
                    type="text"
                    value="<%= data?.question?.name %>"
                    placeholder="Tên..."
            />
        </div>
        <div class="mb-3">
            <label for="lesson-select" class="form-label">Bài học</label>
            <select name="lessonId" id="lesson-select" class="form-control">
                <% for (const lesson of data?.lessons) { %>
                    <option
                            value="<%= lesson?._id %>"
                            <%= data?.question?.lesson?.toString?.() === lesson?._id?.toString?.() ? 'selected' : '' %>
                    ><%= `[${lesson?.code}] ${lesson?.name}` %></option>
                <% } %>
            </select>
        </div>
        <div class="mb-3">
            <label for="start-date" class="form-label">Ngày bắt đầu</label>
            <input
                    name="startDate"
                    id="start-date"
                    class="form-control"
                    type="date"
                    value="<%= data?.question?.startDate?.toLocaleDateString('sv-SE') %>"
                    placeholder="Ngày bắt đầu..."
            />
        </div>
        <div class="mb-3">
            <label for="end-date" class="form-label">Ngày kết thúc</label>
            <input
                    name="endDate"
                    id="end-date"
                    class="form-control"
                    type="date"
                    value="<%= data?.question?.endDate?.toLocaleDateString('sv-SE') %>"
                    placeholder="Ngày kết thúc..."
            />
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Ghi chú</label>
            <input
                    name="note"
                    id="note"
                    class="form-control"
                    type="text"
                    value="<%= data?.question?.note %>"
                    placeholder="Ghi chú..."
            />
        </div>
    </div>
    <div class="w-full">
        <div class="w-full d-flex row" style="height: max-content;">
            <div class="col-8" style="height: max-content;">
                <h3>Khối mặc định</h3>
                <div class="w-full" style="height: 400px;">
                    <div id="blockly-workspace-default" style="height: 100%; width: 100%;"></div>
                </div>
                <h3>Khối sử dụng</h3>
                <div class="w-full" style="height: 400px;">
                    <div id="blockly-workspace-toolbox" style="height: 100%; width: 100%;"></div>
                </div>
            </div>

            <div class="col-4">
                <div class="mb-1">
                    <button class="btn btn-sm btn-primary" onclick="toggleBlocksGlobal()">Lấy/bỏ khối chung</button>
                </div>
                <% if (data?.question?._id) { %>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onConfigBlocks()">Cấu hình khối</button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onConfigAnswers()">Cấu hình đáp án</button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onAssign()">Giao bài</button>
                    </div>
                    <div class="mb-1">
                        <button class="btn btn-sm btn-primary" onclick="onMark()">Bài làm</button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" onclick="onSubmit()">Lưu</button>
    </div>
</div>

<input name="id" type="hidden" value="<%= data?.question?._id %>"/>
<input name="lessonId" type="hidden" value="<%= data?.lessonId %>"/>

<script src="/scripts/managers/question-detail.script.js"></script>