<style>
    .buttonMark {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
        color: white;
    }

    .buttonMark button {
        padding: 10px 20px;
        background-color: #ffffff;
        color: #4CAF50;
        border: 2px solid #ceffd0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }

    .buttonMark button:hover {
        background-color: #45a049;
        color: #ffffff;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
    }

    table thead {
        background-color: #f2f2f2;
    }

    table th, table td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    table tr:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }
</style>
<div class="w-full h-full">
    <div class="buttonMark">
        <button onclick="markByAnswer()">Chấm điểm bằng đáp án</button>
    </div>
    <table>
        <thead>
        <tr>
            <th>STT</th>
            <th>Bài toán</th>
            <th>Học sinh</th>
        </tr>
        </thead>
        <tbody>
        <% for (const resolution of data?.resolutions || []) { %>
            <tr onclick="onDetail('<%= resolution?._id %>')">
                <td><%= resolution?.index %></td>
                <td>
                    <%= resolution?.question?.name %>
                </td>
                <td>
                    <%= resolution?.student?.fullName %>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <div>
        <%- include(partialPath + '/pagination.partial.ejs', { ...(data || {}), model: undefined, }) %>
    </div>
</div>

<script>
    function onDetail(id) {
        window.location.href = `/resolutions/${id}`;
    }

    async function markByAnswer() {
        try {
            const res = await axios.put('/api/resolutions/mark-by-answer', {});
            if (!res?.data?.result?.success) {
                console.log('errors', res?.data?.result?.errors);
                return;
            }
            window.location.reload();
        } catch {
            alert('Server error!');
        }
    }
</script>