<style>
    .toast-container {
        position: fixed;
        top: 1rem;
        right: 1rem;
        z-index: 1050;
    }
</style>

<div style="justify-content:space-between; display:flex">
    <h1>Quản lí tài khoản</h1>
    <button class="k-btn-create btn" onClick="upsert('<%= data?.newId %>')">Tạo tài khoản</button>
</div>
<div>
    <div class="my-2">
        <form method="GET" class="row ">
            <div class="col-md-4">
                <input name="code" type="text" class="form-control" placeholder="Mã..." value="<%= data?.filters?.code %>" />
            </div>
            <div class="col-md-4">
                <input name="email" type="text" class="form-control" placeholder="Email..." value="<%= data?.filters?.email %>" />
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>
        </form>
    </div>
    <div>
        <table class="k-table k-table-pointer table table-hover table-striped table-bordered my-2">
            <thead>
            <tr>
                <th style="width: 80px;">STT</th>
                <th>Mã tài khoản</th>
                <th>Chức danh</th>
                <th>Họ tên</th>
                <th>Email</th>
                <th style="width: 50px;"></th>
            </tr>
            </thead>
            <tbody>
            <% data.users.forEach((user) => { %>
                <tr onClick="upsert('<%= user._id %>')">
                    <td style="text-align: right;"><%= user.index %></td>
                    <td><%= user.code %></td>
                    <td><%= user.type %></td>
                    <td><%= user.fullName %></td>
                    <td><%= user.email %></td>
                    <td>
                        <button class="btn btn-danger btn-sm" onClick="del('<%= user._id %>')"><i
                                    class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
    <div>
        <%- include(partialPath + '/pagination.partial.ejs', { ...(data || {}), model: undefined, }) %>
    </div>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            An error occurred while deleting the user.
        </div>
    </div>
</div>

<script>
  function upsert(id) {
    window.location.href = `/users/${id}`;
  }

  async function del(id) {
    try {
      await axios.delete(`/users/${id}`);
      location.reload();
    } catch (error) {
      console.error('Delete Error:', error);
      const errorToast = new bootstrap.Toast(document.getElementById('errorToast'));
      errorToast.show();
    }
  }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>