<div class="h-100 w-100">
    <div style="justify-content:space-between; display:flex">
        <h1>Quản lí tài khoản</h1>
        <button class="btn btn-primary"
                style="background-color:#008080; border:none; color: white; padding: 5px 10px; text-align: center; font-size: 18px; margin: 4px 2px; cursor: pointer; border-radius: 12px; transition: background-color 0.3s, box-shadow 0.3s;"
                data-bs-toggle="modal" data-bs-target="#accountModal" onClick="upsert('<%= data?.newId %>')">Tạo tài
            khoản
        </button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã tài khoản</th>
            <th scope="col">Email</th>
            <th scope="col">Truy cập gần nhất</th>
            <th scope="col">Số lần truy cập</th>
            <th scope="col">Số bài toán đã tham gia</th>
            <th scope="col">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <% data.users.forEach((user) => { %>
            <tr>
                <th scope="row"><%= user.index %></th>
                <td><%= user.code %></td>
                <td><%= user.email %></td>
                <td><%= user.lastAccess %></td>
                <td><%= user.accessCount %></td>
                <td><%= user.participatedProblems %></td>
                <td class="align-middle">
                    <button class="btn btn-secondary btn-sm me-1" onClick="upsert('<%= block?._id %>')"><i
                                class="fas fa-edit"></i></button>
                    <button class="btn btn-danger btn-sm" onClick="del('<%= block?._id %>')"><i
                                class="fas fa-trash-alt"></i></button>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item <%= data.currentPage === 1 ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= data.currentPage - 1 %>">Previous</a>
            </li>
            <% for(let i = 1; i <= data.totalPages; i++) { %>
                <li class="page-item <%= data.currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
            <li class="page-item <%= data.currentPage === data.totalPages ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= data.currentPage + 1 %>">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script>
  function upsert(id) {
    window.location.href = `/users/${id}`;
  }

  async function del(id) {
    await axios.delete(`http://localhost:5500/users/${id}`);
    location.reload();
  }
</script>
