<h1>Các khóa học</h1>
<div class="k-container">
    <% for (const course of (data?.courses || [])) { %>
        <div onclick="onDetail('<%= course?._id %>')" class="k-card">
            <img src="<%= course?.image || '/images/course-default.jpg'%>" alt="Lớp 2 - Nguyễn Anh">
            <div class="k-title"><%= course?.name %></div>
            <div class="f-info"><%= course?.createdBy?.fullName %></div>
            <div class="k-info">
                <%- include(partialPath + '/datetime.partial.ejs', { datetime: course?.createdAt }) %>
            </div>
        </div>
    <% } %>
</div>
<div class="mt-3">
    <%- include(partialPath + '/pagination.partial.ejs', {
    model: undefined,
    ...(data || {}),
    }) %>
</div>

<script>
  function onDetail(id) {
    window.location.href = `/courses/${id}`;
  }
</script>