<div class="w-full">
    <div class="w-full">
        <h1>Chi tiết khóa học</h1>
        <div class="w-full">
            <div class="mb-3">
                <label for="code" class="form-label">Mã khóa học</label>
                <input
                        id="code"
                        name="code"
                        type="text"
                        value="<%= data?.course?.code %>"
                        <%= data?.course?.code && 'disabled' %>
                        class="form-control"/>
            </div>            
            <div class="mb-3">
                <label for="name" class="form-label">Tên khóa học</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        value="<%= data?.course?.name %>"
                        <%= data?.course?.name && 'disabled' %>                        class="form-control"
                />
            </div> 
            <div class="mb-3">
                <label for="name" class="form-label">Người tạo</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        value="<%= data?.course?.createdBy?.fullName %>"
                        <%= data?.course?.createdBy?.fullName && 'disabled' %>                        class="form-control"
                />
            </div>     
            <div class="mb-3">
                <label for="name" class="form-label">Tạo lúc</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        value="<%= ((date) => {
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const dayOfMonth = String(date.getDate()).padStart(2, '0');
                            const hour = String(date.getHours()).padStart(2, '0');
                            const minute = String(date.getMinutes()).padStart(2, '0');
                            return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                        })(data?.course?.createdAt) %>"
                        <%= ((date) => {
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const dayOfMonth = String(date.getDate()).padStart(2, '0');
                            const hour = String(date.getHours()).padStart(2, '0');
                            const minute = String(date.getMinutes()).padStart(2, '0');
                            return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                        })(data?.course?.createdAt) && 'disabled'%>
                        class="form-control"
                />
            </div>  
            <div class="mb-3">
                <label for="name" class="form-label">Ghi chú</label>
                <input
                        id="name"
                        name="name"
                        type="text"
                        value="<%= data?.course?.note %>"
                        <%= data?.course?.note && 'disabled' %>                        class="form-control"
                />
            </div>     
        </div>
    </div>


    <div class="w-full">
        <h1>Các bài học</h1>
        <div class="k-container">
            <% for (const lesson of data?.lessons?.models) { %>
                <div onclick="onDetailLesson('<%= lesson?._id %>')" class="k-card">
                    <img src="/images/img5.png" alt="Lớp 1 - Nguyễn Anh">
                    <div class="k-title"><%= lesson?.name %></div>
                    <div class="k-info"><%= lesson?.createdBy?.fullName %></div>
                    <div class="k-info">
                        <%= ((date) => {
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const dayOfMonth = String(date.getDate()).padStart(2, '0');
                            const hour = String(date.getHours()).padStart(2, '0');
                            const minute = String(date.getMinutes()).padStart(2, '0');
                            return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                        })(lesson.createdAt) %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
  function onDetailLesson(id) {
    window.location.href = `/lessons/${id}`;
  }
</script>