<div class="w-full">
    <div class="w-full">
        <h1>Chi tiết khóa học</h1>
        <div class="container mt-4">
            <div class="row mb-3">
              <div class="col-md-3 fw-bold">
                Mã khóa học:
              </div>
              <div class="col-md-9">
                <span><%= data?.course?.code %></span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 fw-bold">
                Tên khóa học:
              </div>
              <div class="col-md-9">
                <span><%= data?.course?.name %></span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 fw-bold">
                Người tạo:
              </div>
              <div class="col-md-9">
                <span><%= data?.course?.createdBy?.fullName %></span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 fw-bold">
                Tạo lúc:
              </div>
              <div class="col-md-9">
                <span><%= ((date) => {
                  const year = date.getFullYear();
                  const month = String(date.getMonth() + 1).padStart(2, '0');
                  const dayOfMonth = String(date.getDate()).padStart(2, '0');
                  const hour = String(date.getHours()).padStart(2, '0');
                  const minute = String(date.getMinutes()).padStart(2, '0');
                  return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`;
                })(new Date(data?.course?.createdAt)) %></span>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-3 fw-bold">
                Ghi chú:
              </div>
              <div class="col-md-9">
                <span><%= data?.course?.note %></span>
              </div>
            </div>
          </div>
        </div>
    </div>


    <div class="w-full">
        <h1>Các bài học</h1>
        <div class="k-container">
            <% for (const lesson of data?.lessons?.models) { %>
                <div onclick="onDetailLesson('<%= lesson?._id %>')" class="k-card">
                    <img src="/images/img5.png" alt="Lớp 1 - Nguyễn Anh">
                    <div class="k-title"><%= lesson?.name %></div>
                    <div class="k-info"><%= lesson?.createdBy?.fullName %></div>
                    <div class="k-info">
                        <%= ((date) => {
                            const year = date.getFullYear();
                            const month = String(date.getMonth() + 1).padStart(2, '0');
                            const dayOfMonth = String(date.getDate()).padStart(2, '0');
                            const hour = String(date.getHours()).padStart(2, '0');
                            const minute = String(date.getMinutes()).padStart(2, '0');
                            return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                        })(lesson.createdAt) %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
  function onDetailLesson(id) {
    window.location.href = `/lessons/${id}`;
  }
</script>