<div class="w-full">
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
        <h1>Chi tiết bài học</h1>
        <button class="k-btn-create btn" onclick="onCourseDetail('<%= data?.lesson?.course %>')">Khóa học</button>
    </div>
    <div class="w-full">
        <div>Mã <%= data?.lesson?.code %></div>
        <div>Tên <%= data?.lesson?.name %></div>
        <div>Người tạo <%= data?.lesson?.createdBy?.fullName %></div>
        <div>
            Tạo lúc
            <%= ((date) => {
                const year = date.getFullYear();
                const month = String(date.getMonth() + 1).padStart(2, '0');
                const dayOfMonth = String(date.getDate()).padStart(2, '0');
                const hour = String(date.getHours()).padStart(2, '0');
                const minute = String(date.getMinutes()).padStart(2, '0');
                return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
            })(data?.lesson?.createdAt) %>
        </div>
        <div>Ghi chú <%= data?.lesson?.note %></div>
    </div>
    <div class="w-full">
        <h1>Các bài toán</h1>
        <div class="k-container">
            <% for (const question of data?.questions?.models) { %>
                <div onclick="onDetail('<%= question?._id %>')" class="k-card">
                    <img src="<%= question?.image || '/images/img4.png'%>" alt="Lớp 2 - Nguyễn Anh">
                    <div class="k-title"><%= question?.name %></div>
                    <div class="f-info"><%= question?.createdBy?.fullName %></div>
                    <div class="k-info">
                        <%- include(partialPath + '/datetime.partial.ejs', { datetime: question?.createdAt }) %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<script>
    function onCourseDetail(id) {
      window.location.href = `/courses/${id}`;
    }
    function onDetailQuestion(id) {
        window.location.href = `/questios/${id}`;
      }
</script>