<h1>Các bài học</h1>
<div class="k-container">
    <% for (const lesson of (data?.lessons || [])) { %>
        <div onclick="onDetail('<%= lesson?._id %>')" class="k-card">
            <img src="<%= lesson?.image || '/images/lesson-default.png'%>" alt="Lớp 1 - Nguyễn Anh">
            <div class="k-title"><%= lesson?.name %></div>
            <div class="k-info"><%= lesson?.createdBy?.fullName %></div>
            <div class="k-info">
                    <%- include(partialPath + '/datetime.partial.ejs', { datetime: lesson?.createdAt }) %>
            </div>
        </div>
    <% } %>
</div>
<div class="mt-3">
    <%- include(partialPath + '/pagination.partial.ejs', {
    model: undefined,
    ...(data || {}),
    }) %>
</div>

<script>
    function onDetail(id) {
        window.location.href = `/lessons/${id}`;
    }
</script>