<div class="w-full">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h1>Chi tiết bài toán</h1>
        <div style="display: flex; justify-content:flex-start">
            <button class="k-btn-create btn"  onclick="onSolve('<%= data?.question?._id %>')" style="margin-right:5px">Xem bài làm
            </button>
            <button class="k-btn-create btn" onclick="onLessonDetail('<%= data?.question?.lesson %>')">Bài học</button>
        </div>
    </div>
    <div class="w-full d-flex">
        <div class="container mt-2">
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Mã:</div>
                <div class="col-md-8"><span><%= data?.question?.code %></span></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Tên:</div>
                <div class="col-md-8"><span><%= data?.question?.name %></span></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Người tạo:</div>
                <div class="col-md-8"><span><%= data?.question?.createdBy?.fullName %></span></div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Tạo lúc:</div>
                <div class="col-md-8">
                    <span><%= ((date) => {
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0');
                        const dayOfMonth = String(date.getDate()).padStart(2, '0');
                        const hour = String(date.getHours()).padStart(2, '0');
                        const minute = String(date.getMinutes()).padStart(2, '0');
                        return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`;
                    })(new Date(data?.question?.createdAt)) %></span>
                </div>
            </div>
        </div>
        <div style="flex: 0 0 250px;">
            <% if (data?.resolution?.content) { %>
                <% if (data?.resolution?.score !== null && data?.resolution?.score !== undefined) { %>
                    <div><%= data?.resolution?.score %> điểm</div>
                <% } else { %>
                    <div>Chờ chấm điểm</div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<script>
  function onSolve(id) {
    window.location.href = `/questions/${id}/solve`;
  }
  function onLessonDetail(id) {
    window.location.href = `/lessons/${id}`;
  }
</script>