<div class="w-full h-full">
    <h1>Các bài toán</h1>
    <div class="k-container">
        <% for (const question of (data?.questions || [])) { %>
            <div onclick="onDetail('<%= question?._id %>')" class="k-card">
                <img src="<%= question?.image || '/images/question-default.png'%>" alt="Lớp 2 - Nguyễn Anh">
                <div class="k-title"><%= question?.name %></div>
                <div class="f-info"><%= question?.createdBy?.fullName %></div>
                <div class="k-info">
                    <%= ((date) => {
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0');
                        const dayOfMonth = String(date.getDate()).padStart(2, '0');
                        const hour = String(date.getHours()).padStart(2, '0');
                        const minute = String(date.getMinutes()).padStart(2, '0');
                        return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                    })(question.createdAt) %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<script>
    function onDetail(id) {
      window.location.href = `/questions/${id}`;
    }
</script>