<div class="w-full">
    <div style="display: flex; justify-content: space-between; align-items: center; margin: 20px 0;">
        <h1>Chi tiết bài toán</h1>
        <div style="display: flex; justify-content:flex-start">
            <button class="k-btn-create btn"  onclick="onSolve('<%= data?.question?._id %>')" style="margin-right:5px">Xem bài làm
            </button>
            <button class="k-btn-create btn" onclick="onLessonDetail('<%= data?.question?.lesson %>')">Bài học</button>
        </div>
    </div>
    <div class="w-full">
        <div style="flex: 1 1;">
            <div class="mb-3">
                <label for="code-input" class="form-label">Mã bài học</label>
                <input name="code" id="code-input" class="form-control" type="text" value="<%= data?.question?.code %>"
                disabled/>
            </div>
            <div class="mb-3">
                <label for="name-input" class="form-label">Tên bài học</label>
                <input name="name" id="name-input" class="form-control" type="text" value="<%= data?.question?.name %>"
                disabled/>
            </div>
            <div class="mb-3">
                <label for="name-input" class="form-label">Người tạo</label>
                <input name="name" id="name-input" class="form-control" type="text" value="<%= data?.question?.createdBy?.fullName %>"
                disabled/>
            </div>
            <div class="mb-3">
                <label for="name-input" class="form-label">Tạo lúc</label>
                <input name="name" id="name-input" class="form-control" type="text" value="<%= ((date) => {
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const dayOfMonth = String(date.getDate()).padStart(2, '0');
                    const hour = String(date.getHours()).padStart(2, '0');
                    const minute = String(date.getMinutes()).padStart(2, '0');
                    return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                })(data?.question?.createdAt) %>"
                disabled/>
            </div>
        </div>
        <div style="flex: 0 0 250px;">
            <% if (data?.resolution?.content) { %>
                <% if (data?.resolution?.score !== null && data?.resolution?.score !== undefined) { %>
                    <div><%= data?.resolution?.score %> điểm</div>
                <% } else { %>
                    <div>Chờ chấm điểm</div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<script>
  function onSolve(id) {
    window.location.href = `/questions/${id}/solve`;
  }
  function onLessonDetail(id) {
    window.location.href = `/lessons/${id}`;
  }
</script>