<div class="w-full">
    <div class="w-full d-flex">
        <div style="flex: 1 1;">
            <div>Mã <%= data?.question?.code %></div>
            <div>Tên <%= data?.question?.name %></div>
            <div>Người tạo <%= data?.question?.createdBy?.name %></div>
            <div>Tạo lúc
                <%= ((date) => {
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const dayOfMonth = String(date.getDate()).padStart(2, '0');
                    const hour = String(date.getHours()).padStart(2, '0');
                    const minute = String(date.getMinutes()).padStart(2, '0');
                    return `${year}-${month}-${dayOfMonth} ${hour}:${minute}`
                })(data?.question?.createdAt) %>
            </div>
        </div>
        <div style="flex: 0 0 250px;">
            <div>
                <button class="btn btn-sm btn-primary" onclick="onSolve('<%= data?.question?._id %>')">Xem bài làm
                </button>
            </div>
            <% if (data?.resolution?.content) { %>
                <% if (data?.resolution?.score !== null && data?.resolution?.score !== undefined) { %>
                    <div><%= data?.resolution?.score %> điểm</div>
                <% } else { %>
                    <div>Chờ chấm điểm</div>
                <% } %>
            <% } %>
        </div>
    </div>
</div>

<script>
  function onSolve(id) {
    window.location.href = `/questions/${id}/solve`;
  }
</script>