<h1>Các bài toán</h1>
<div class="k-container">
    <% for (const question of (data?.questions || [])) { %>
        <div onclick="onDetail('<%= question?._id %>')" class="k-card">
            <img src="<%= question?.image || '/images/question-default.png'%>" alt="Lớp 2 - Nguyễn Anh">
            <div class="k-title"><%= question?.name %></div>
            <div class="f-info"><%= question?.createdBy?.fullName %></div>
            <div class="k-info">
                <%- include(partialPath + '/datetime.partial.ejs', { datetime: question?.createdAt }) %>
            </div>
        </div>
    <% } %>
</div>
<div class="mt-3">
    <%- include(partialPath + '/pagination.partial.ejs', {
    model: undefined,
    ...(data || {}),
    }) %>
</div>

<script>
    function onDetail(id) {
      window.location.href = `/questions/${id}`;
    }
</script>